// 播放器可是界面
.player-content {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 1.25rem;
  width: calc(100% - 2.5rem);
  transition: all .3s;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

// 音乐封面
.music-cover {
  width: 100%;
  height: 50%;
  padding: 15px 0;
  max-height: calc(100% - 240px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  img {
    min-width: 18.75rem;
    width: auto;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
  }
}

// 播放器控制
.music-controll {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 25px;
  .music-title {
    font-size: 25px;
    color: rgb(3, 3, 3);
    height: 35px;
    line-height: 35px;
    text-align: center;
  }
  .music-artist {
    font-size: 15px;
    color: rgb(74, 74, 74);
    height: 30px;
    line-height: 30px;
  }
  .music-time {
    font-size: 14px;
    color: #999999;
    height: 25px;
    line-height: 25px;
  }
  .music-vol-ptype {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .play-type {
      display: flex;
      width: 70px;
      height: 100%;
      justify-content: space-between;
    }
    .repeatType {
      display: block;
      font-size: 20px;
      padding: 5px;
      cursor: pointer;
    }
    .music-list {
      display: block;
      font-size: 25px;
      padding: 5px;
      cursor: pointer;
    }
    .volume-container {
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .volume-wrapper {
        width: 130px;
        display: flex;
        align-items: center;
      }
    }
  }
  .music-progress {
    display: flex;
    align-items: center;
    height: 20px;
    line-height: 20px;
  }
  .music-ctrl {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    .iconfont {
      display: block;
      width: 30px;
      height: 30px;
      font-size: 30px;
      cursor: pointer;
    }
  }
}