@charset "UTF-8";

.container {
  width: 100%;
  height: 100%;
}

/* 栅格系统，行排列 */
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* 栅格系统，列排列 */
.col1 {
  -webkit-box-flex: 0 !important;
  -webkit-flex: none !important;
  width: 8.33333% !important;
}

.col2 {
  -webkit-box-flex: 0 !important;
  -webkit-flex: none !important;
  width: 16.66667% !important;
}

.col3 {
  -webkit-box-flex: 0 !important;
  -webkit-flex: none !important;
  width: 25% !important;
}

.col4 {
  -webkit-box-flex: 0 !important;
  -webkit-flex: none !important;
  width: 33.33333% !important;
}

.col5 {
  -webkit-box-flex: 0 !important;
  -webkit-flex: none !important;
  width: 41.66667% !important;
}

.col6 {
  -webkit-box-flex: 0 !important;
  -webkit-flex: none !important;
  width: 50% !important;
}

.col7 {
  -webkit-box-flex: 0 !important;
  -webkit-flex: none !important;
  width: 58.33333% !important;
}

.col8 {
  -webkit-box-flex: 0 !important;
  -webkit-flex: none !important;
  width: 66.66667% !important;
}

.col9 {
  -webkit-box-flex: 0 !important;
  -webkit-flex: none !important;
  width: 75% !important;
}

.col10 {
  -webkit-box-flex: 0 !important;
  -webkit-flex: none !important;
  width: 83.33333% !important;
}

.col11 {
  -webkit-box-flex: 0 !important;
  -webkit-flex: none !important;
  width: 91.66667% !important;
}

.col12 {
  -webkit-box-flex: 0 !important;
  -webkit-flex: none !important;
  width: 100% !important;
}

.col-auto {
  display: block;
  flex: 0 0 auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.text-center:before {
  content: "";
  display: inline-block;
  height: 100%;
  margin-right: -4px;
  vertical-align: middle;
}

.hide {
  display: none;
}

.iconfont {
  font-size: 16px;
  color: #1b1925;
  font-weight: bold;
}